<div class="subscribe-box">
    <h3>Suscríbete</h3>
    <%- include('partials/subscribe-form'); %>
</div>
<% for(let post of posts) { %>
    <div class="post">
        <h2><a href="/articles/<%= post.file %>"><%= post.title %></a></h2>
        <p class="date"><%= post.date %></p>
        <div class="text">
            <%= post.summary %> <a href="/articles/<%= post.file %>">Leer más &#8594;</a>
        </div>
    </div>        
<% } %>

