<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header'); %>

    <% if (typeof(post) !== 'undefined') { %>
        <meta property="og:title" content="<%= post.title %>" />
        <meta property="og:image" content="<%= post.image %>" />
        <meta property="og:description" content="<%= post.summary %>" />
    <% } %>
  </head>
  <body>
    <main>
      <div class="site-header">
        <h1 class="site-title"><a href="/">La<span class="siesta">siesta</span>americana</a></h1>
      </div>

      <%- body %>
    </main>
    <footer>
        <%- include('partials/footer'); %>
    </footer>
  </body>
</html>